# === SUPABASE ===
NEXT_PUBLIC_SUPABASE_URL=https://mvqljubjlufjyyktsljn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cWxqdWJqbHVmanl5a3RzbGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0MTQwMjksImV4cCI6MjA3Nzk5MDAyOX0._6sCVs20oYzLUNfyYqlx54ZnuwoaamiCI_9SuSt1crA

# === BACKEND API ===
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# === DEEPSEEK ===
DEEPSEEK_API_KEY=c4e9b864-38bf-4c71-a865-b9178843d61c_71FA2144CDD177725EE5D797007E16F90F3EC72F50BFBD1AC49158CCAC0348E6
DEEPSEEK_API_URL=https://deepseek.huaweicloud.com/v1/chat/completions

# === GOOGLE CLOUD ===
GOOGLE_APPLICATION_CREDENTIALS=C:/Users/moras/Documents/GitHub/TRAVO/temporal-fx-455221-u3-e44db70f518a.json



AK=HPUA2BRS3ROY4GD2N3Q7
SK=sWQOEDKZ6xSyCwvpzTHfKwjmZ3BjJrGvfJL8Uyxd
software_repository=docker login -u ap-southeast-3@HPUA2BRS3ROY4GD2N3Q7 -p 5a536c458e57d6b5fed48b0bfac5c2df100ee0a97b59b0b0b615003694a00157 swr.ap-southeast-3.myhuaweicloud.com
SWR_ORG=travo
ecs_password=travo**2025


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDemo5eIkBWH9zIYfbLkeh/XLJXOhNHH/fWguI4PGVl7Ki7YjhdacKkLx8fTqJ8at1PrumDEHnzwa6+24cXu1EjevGZBLQpRWLaMmdFFFlbk1ZDqpDRBEIr6KCJyNNdUEXeIlbH/et3Kw3vsJXqyXIOdo/VLMl9Yr2SrxbRPsF/lEK56iqbCUsiPiC6T9Lgsixub1v91UJNU6QEV5wj3HYh9y/CDvZQobEhNerTx1on1yRcqvTpuqm119A2DpEG1XFcIfjLxX6TEz0PJwq2CvS/lyM733WjLfSXW5jECjWpnD43oVcKDzEQYUqLytiiKX7nW1CDGK5d3bdXF0itd0ujYIltxSoaLG7DZfmgLp2CzDgB9LTqhw6slXmnIzwOJ6u4cNfI0mRRoKsyFPXpjPa9aJ/3wIwbZmw1cF2tXa7xSTrvDzgVJZC3yqFNb6/U3o6Xzg92C/h7EeuAkb/HZKA9qdRVqRLeuGJtnJJ8BeW/2cz6DBaTtFnAlKMeIqbWD+lUKgygZK65NshHmy5mrL/FIsQYB0kql/oYckbi0Yq7cz2e3VZu5Pyu6qrByoOuCc1qWF2PWr2p+nQtMqbxhBlD+/joMeadh0r4RQ/8c+KpOoNpDA4wgif4QeQfPCRbnh9+oTTxLhgxUTtLR0V4Z+X8P44gJaNSzq0vBiD2DvV6mQ== ecs-deploy
GEMINI_API_KEY=AIzaSyDRpD3W_q2YbzQswEN_OwJOjri4kiKecDs
OPENROUTER_API_KEY=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